.member-top
  margin-top: 11em
  padding-bottom: 25px

.panel-body
  background-color: $light-blue
  color: #000
  padding: 2em

table .table .table-responsive, tr, td, tbody
  background-color: $light-blue

.lead
  color: #fff

.member-button
  display: inline-block
  vertical-align: middle

#newsletter_signup_form
  display: none
