//#enter-new-earth
//  header
//    background-image: image-url('vector/nep_logo_bg_ne_portal.svg'), image-url('banner-earth.jpg')

#enter-new-earth #header .title .right
  letter-spacing: -2px

#enter-new-earth, #exchange, #institute, #locations, #festival

  h4
    +h5

  nav#sidenav
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: 300
    +make-sm-column(3, 0)
    
    .affix
      @media (max-width: $screen-xs-max)
        position: relative
    
    ul
      background-color: #f6f6f6
      margin-bottom: 1.3em
      &.subnav
        margin-bottom: 0
        li
          padding-left: 20px
      &.affix
        @media (min-width: $screen-sm-min)
          max-width: 25%
          top: 40px
      li
        list-style-type: none
        & > a
          padding: .3em .4em
        &.active > a, & > a:hover
          box-shadow: 2px 0px 0px 0px #66A5E9
        & > a:hover          
          color: $powder-blue
        &.active > a
          font-weight: 400

    .nav-header
      font-size: 24px
      background-color: $powder-blue-lighter
      color: #fff
      padding: 6px 0 4px 10px


  // TODO: only do this on institute page
  article
    +make-sm-column(9)

  section.main-content
    +make-sm-column(9)

    .panel-heading
      margin-top: 0
      background-color: rgba($powder-blue, 0.4)
      padding: 10px 20px 2px 20px

    article
      margin: 0.6em 0 0.6em 0
      // box-shadow: 0 0 4px rgba($powder-blue, 0.6)
      h2
        font-weight: 400
        background-color: #f6f6f6
        font-size: 2em
        margin: 0 auto .2em auto
        padding: .2em .4em
      p
        margin-left: .6em
        // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

  @media screen and (min-width: $screen-sm-min)
    .modal-dialog
      width: auto
      max-width: 1024px
