%p.lead
	Be it known that I, (given name), do hereby declare myself to be a 
	sovereign individual; a living breathing human being endowed by my creator with certain natural rights.

%p.lead
	Recognizing that, regardless of whether the event of one’s birth was 
	registered within a republic or monarchical system of government, 
	governments derive their power to govern from the consent and will of 
	the people, and that when such governments no longer serve the best 
	interests of people and planet, it is the incumbent duty of all people 
	of the world to declare such governments null and void and to declare 
	themselves, each one, an individual sovereign entity beholden to no 
	governance save for their own.

%p.lead
	In accordance with these aims and purposes as stated herein, I hereby 
	and herewith declare myself to be free of any and all governance by 
	any governmental organisation and I hereby and herewith reserve all 
	natural rights such as are recognized to be inherent conditions of 
	human existence. 

%p.lead
	Furthermore, and for the avoidance of doubt, I do hereby and herewith 
	withdraw any express or implied consent to be recognised by or through 
	any legal name or entity which any governmental organisation, or an 
	agent thereof, may, by virtue of its registration under that 
	governments jurisdiction, use against my will to exercise control or 
	power over me. 
		