%div#newsletter_signup_form
  %br
  %table.table-responsive.lead
    %thead
      %th{ colspan: "2" }
        %h4
          Newsletter Signup:
        
      
    
    %tbody{ align: "center" }
      %tr
        %td
          %div                         
            %p.lead
              ( Keep me informed about: communities, retreats, institute, festival, everything )
            
            
            %input.form-control#email{ placeholder: "Email" }
            
          
        
      %tr
        %td{ colspan: 2 }
          %button.btn-success.btn-md#newsletter_signup
            Subscribe
          
          %button.btn-info.btn-md#newsletter_skip
            Skip
          
        
      
    
  
