%h3
  User Forms

%h4
  = link_to('Users Index','/users/')
%h4
  = link_to('Sovereignty Form','/users/sovereignty_form')
%h4
  = link_to('Newsletter','/users/newsletter')
%h4
  = link_to('Profile','/users/profile')
