<div style="padding: 15px; margin: 30px">
  
  <form class="form-horizontal" role="form">
    
    <div id="sovereignty_form" style="display: block">
      <div align="center">
        <h1>Sovereignty Declaration</h1>
      </div><br />
      
      <div class="panel panel-info">
        <div class="panel-heading" align="center">
          <h3>New Earth Residency</h3>
        </div>  
        <div class="panel-body">
          <p class="lead blue-text">New Earth Residency is an open invitation to every member of the human family to transition away from all systems and enclosures which limit our capacity for creative self expression, and instead unite as a panglobal family of likeminded and likehearted individuals who, with the support and solidarity of that family, each commit to consciously cocreate a new paradigm of prosperity, harmony and abundance.</p>

          <p class="lead blue-text">The first step in this process is for each of us to formally withdraw our consent to be governed by those who do not have our best interests at heart; and to declare to the world, who we are and what we stand for.</p>

          <p class="lead blue-text">The New Earth Declaration of Sovereignty will align your voice with innumerable other voices in such a manner as to ensure, for the first time, that those who share a vision of peace and prosperity can no longer be ignored. </p>
          
          <hr width="90%">
          
          <medium>
            <h4 class="blue-text" style="font-weight: bold;">For more information see:</h4>
            <ul>
              <li class="blue-text">How do current systems of government obtain their power over human beings?</li>
              <li class="blue-text">How does one lawfully cease to cooperate with current systems and enclosures?</li>
              <li class="blue-text">Why the need for a Declaration of Sovereignty?</li>
            </ul>
          </medium>
        </div>
        
        <div class="panel-footer panel-info" style="background-color: #016EAD">

          <h4 style="color: #fff; font-weight: bold" align="center">Make your Declaration and enter the New Earth…</h4>
          <br />  
          
          <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="firs_name" placeholder="First Name" width="4">
            </div>
          </div> 
              
          <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" width="4">
            </div>
          </div>
      
          <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" name="email" placeholder="Email" width="4">
            </div>
          </div>
      
          <div class="form-group">
            <label for="signature" class="col-sm-2 control-label">Signature</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="signature" name="signature" placeholder="Signature" width="4">
            </div>
          </div><br />
      
          <div class="form-group" align="center">
            <div class="col-sm-12">
              <button type="button" class="btn btn-info btn-lg blue-button" id="submit_sov_button" style="width: 300px">Submit</button>
            </div>
          </div><br /><br />
        </div>
      </div>
    </div>
      
    <div id="newsletter_form" style="display: none">
      <a id="newsletter_header"></a>
      <h1>Sign up for our Newsletter?</h1>
      <br />
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <p class="lead help-block">Keep me informed about: communities, retreats, institute, festival, everything
                <input type="checkbox" id="subscribe" name="subscribe" >
              </p>  
            </label>
          </div>
        </div>
      </div>
      
      <div class="form-group" align="center">
        <div class="col-sm-12">
          <button type="button" class="btn btn-success btn-lg blue-button" id="update_user_profile_button">Update User Profile</button>
            ..Or.. 
          <button type="button" class="btn btn-info btn-lg">Skip</button>
        </div>
      </div><br /><br />
        
      <hr align="center" width="75%"><br /><br />
    </div>
    
    <div id="user_profile_form" style="display: none">
      <a id="user_profile_header"></a>
      <h1>User Profile:</h1><br />
      <br />
      
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
      </div>
      
      <div class="form-group">
        <label for="password2" class="col-sm-2 control-label">Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password2" placeholder="Confirm Password">
        </div>
      </div>
          
      <div class="form-group">
        <label for="location" class="col-sm-2 control-label">Location</label>
        <div class="col-sm-10">
          <select class="form-control" id="location" name="location">
            <option value="">Please Select Your Location</option>
            <option value="Afghanistan">Afghanistan</option><option value="Albania">Albania</option><option value="Algeria">Algeria</option><option value="Andorra">Andorra</option><option value="Angola">Angola</option><option value="Antigua &amp; Deps">Antigua &amp; Deps</option><option value="Argentina">Argentina</option><option value="Armenia">Armenia</option><option value="Australia">Australia</option><option value="Austria">Austria</option><option value="Azerbaijan">Azerbaijan</option><option value="Bahamas">Bahamas</option><option value="Bahrain">Bahrain</option><option value="Bangladesh">Bangladesh</option><option value="Barbados">Barbados</option><option value="Belarus">Belarus</option><option value="Belgium">Belgium</option><option value="Belize">Belize</option><option value="Benin">Benin</option><option value="Bhutan">Bhutan</option><option value="Bolivia">Bolivia</option><option value="Bosnia Herzegovina">Bosnia Herzegovina</option><option value="Botswana">Botswana</option><option value="Brazil">Brazil</option><option value="Brunei">Brunei</option><option value="Bulgaria">Bulgaria</option><option value="Burkina">Burkina</option><option value="Burundi">Burundi</option><option value="Cambodia">Cambodia</option><option value="Cameroon">Cameroon</option><option value="Canada">Canada</option><option value="Cape Verde">Cape Verde</option><option value="Central African Rep">Central African Rep</option><option value="Chad">Chad</option><option value="Chile">Chile</option><option value="China">China</option><option value="Colombia">Colombia</option><option value="Comoros">Comoros</option><option value="Congo">Congo</option><option value="Congo {Democratic Rep}">Congo {Democratic Rep}</option><option value="Costa Rica">Costa Rica</option><option value="Croatia">Croatia</option><option value="Cuba">Cuba</option><option value="Cyprus">Cyprus</option><option value="Czech Republic">Czech Republic</option><option value="Denmark">Denmark</option><option value="Djibouti">Djibouti</option><option value="Dominica">Dominica</option><option value="Dominican Republic">Dominican Republic</option><option value="East Timor">East Timor</option><option value="Ecuador">Ecuador</option><option value="Egypt">Egypt</option><option value="El Salvador">El Salvador</option><option value="Equatorial Guinea">Equatorial Guinea</option><option value="Eritrea">Eritrea</option><option value="Estonia">Estonia</option><option value="Ethiopia">Ethiopia</option><option value="Fiji">Fiji</option><option value="Finland">Finland</option><option value="France">France</option><option value="Gabon">Gabon</option><option value="Gambia">Gambia</option><option value="Georgia">Georgia</option><option value="Germany">Germany</option><option value="Ghana">Ghana</option><option value="Greece">Greece</option><option value="Grenada">Grenada</option><option value="Guatemala">Guatemala</option><option value="Guinea">Guinea</option><option value="Guinea-Bissau">Guinea-Bissau</option><option value="Guyana">Guyana</option><option value="Haiti">Haiti</option><option value="Honduras">Honduras</option><option value="Hungary">Hungary</option><option value="Iceland">Iceland</option><option value="India">India</option><option value="Indonesia">Indonesia</option><option value="Iran">Iran</option><option value="Iraq">Iraq</option><option value="Ireland {Republic}">Ireland {Republic}</option><option value="Israel">Israel</option><option value="Italy">Italy</option><option value="Ivory Coast">Ivory Coast</option><option value="Jamaica">Jamaica</option><option value="Japan">Japan</option><option value="Jordan">Jordan</option><option value="Kazakhstan">Kazakhstan</option><option value="Kenya">Kenya</option><option value="Kiribati">Kiribati</option><option value="Korea North">Korea North</option><option value="Korea South">Korea South</option><option value="Kosovo">Kosovo</option><option value="Kuwait">Kuwait</option><option value="Kyrgyzstan">Kyrgyzstan</option><option value="Laos">Laos</option><option value="Latvia">Latvia</option><option value="Lebanon">Lebanon</option><option value="Lesotho">Lesotho</option><option value="Liberia">Liberia</option><option value="Libya">Libya</option><option value="Liechtenstein">Liechtenstein</option><option value="Lithuania">Lithuania</option><option value="Luxembourg">Luxembourg</option><option value="Macedonia">Macedonia</option><option value="Madagascar">Madagascar</option><option value="Malawi">Malawi</option><option value="Malaysia">Malaysia</option><option value="Maldives">Maldives</option><option value="Mali">Mali</option><option value="Malta">Malta</option><option value="Marshall Islands">Marshall Islands</option><option value="Mauritania">Mauritania</option><option value="Mauritius">Mauritius</option><option value="Mexico">Mexico</option><option value="Micronesia">Micronesia</option><option value="Moldova">Moldova</option><option value="Monaco">Monaco</option><option value="Mongolia">Mongolia</option><option value="Montenegro">Montenegro</option><option value="Morocco">Morocco</option><option value="Mozambique">Mozambique</option><option value="Myanmar, {Burma}">Myanmar, {Burma}</option><option value="Namibia">Namibia</option><option value="Nauru">Nauru</option><option value="Nepal">Nepal</option><option value="Netherlands">Netherlands</option><option value="New Zealand">New Zealand</option><option value="Nicaragua">Nicaragua</option><option value="Niger">Niger</option><option value="Nigeria">Nigeria</option><option value="Norway">Norway</option><option value="Oman">Oman</option><option value="Pakistan">Pakistan</option><option value="Palau">Palau</option><option value="Panama">Panama</option><option value="Papua New Guinea">Papua New Guinea</option><option value="Paraguay">Paraguay</option><option value="Peru">Peru</option><option value="Philippines">Philippines</option><option value="Poland">Poland</option><option value="Portugal">Portugal</option><option value="Qatar">Qatar</option><option value="Romania">Romania</option><option value="Russian Federation">Russian Federation</option><option value="Rwanda">Rwanda</option><option value="St Kitts &amp; Nevis">St Kitts &amp; Nevis</option><option value="St Lucia">St Lucia</option><option value="Saint Vincent &amp; the Grenadines">Saint Vincent &amp; the Grenadines</option><option value="Samoa">Samoa</option><option value="San Marino">San Marino</option><option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option><option value="Saudi Arabia">Saudi Arabia</option><option value="Senegal">Senegal</option><option value="Serbia">Serbia</option><option value="Seychelles">Seychelles</option><option value="Sierra Leone">Sierra Leone</option><option value="Singapore">Singapore</option><option value="Slovakia">Slovakia</option><option value="Slovenia">Slovenia</option><option value="Solomon Islands">Solomon Islands</option><option value="Somalia">Somalia</option><option value="South Africa">South Africa</option><option value="South Sudan">South Sudan</option><option value="Spain">Spain</option><option value="Sri Lanka">Sri Lanka</option><option value="Sudan">Sudan</option><option value="Suriname">Suriname</option><option value="Swaziland">Swaziland</option><option value="Sweden">Sweden</option><option value="Switzerland">Switzerland</option><option value="Syria">Syria</option><option value="Taiwan">Taiwan</option><option value="Tajikistan">Tajikistan</option><option value="Tanzania">Tanzania</option><option value="Thailand">Thailand</option><option value="Togo">Togo</option><option value="Tonga">Tonga</option><option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option><option value="Tunisia">Tunisia</option><option value="Turkey">Turkey</option><option value="Turkmenistan">Turkmenistan</option><option value="Tuvalu">Tuvalu</option><option value="Uganda">Uganda</option><option value="Ukraine">Ukraine</option><option value="United Arab Emirates">United Arab Emirates</option><option value="United Kingdom">United Kingdom</option><option value="United States">United States</option><option value="Uruguay">Uruguay</option><option value="Uzbekistan">Uzbekistan</option><option value="Vanuatu">Vanuatu</option><option value="Vatican City">Vatican City</option><option value="Venezuela">Venezuela</option><option value="Vietnam">Vietnam</option><option value="Yemen">Yemen</option><option value="Zambia">Zambia</option><option value="Zimbabwe">Zimbabwe</option>
          </select>
        </div>
        </label>
      </div>
      
      <div class="form-group">
        <label for="skills" class="col-sm-2 control-label">Skills</label>
        <div class="col-sm-10">
          <select multiple size="10" class="form-control" id="skills" name="skills" selected="selected">    
            <option value="" select="selected">Please Select Your Skillsets</option>
            <option value="Permaculture, Organic Farming">Permaculture, Organic Farming</option><option value="Real Estate Development, Builder, Architect">Real Estate Development, Builder, Architect</option><option value="Herbalist, medicine, nutrition, health and wellbeing">Herbalist, medicine, nutrition, health and wellbeing</option><option value="Legal expertise">Legal expertise</option><option value="Administrative expertise">Administrative expertise</option><option value="Sustainable Business Management">Sustainable Business Management</option><option value="Artist, Musician, Designer">Artist, Musician, Designer</option><option value="Education, Teacher">Education, Teacher</option><option value="Psychology, Communication">Psychology, Communication</option><option value="Information Technology, Web Designer, Webmaster">Information Technology, Web Designer, Webmaster</option><option value="Green Technology, Engineer">Green Technology, Engineer</option>
          </select> 
        </div>
      </div>
      
      <div class="form-group">
        <label for="Other Skills" class="col-sm-2 control-label">Other Skills</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="otherSkills" name="otherSkills" placeholder="Other Skills" width="4">
        </div>
      </div>
      
      <div class="form-group">
        <label for="Passions" class="col-sm-2 control-label">Passions</label>
        <div class="col-sm-10">
          <textarea cols="20" rows="7" class="form-control" id="passions" name="passions"></textarea>
        </div>
      </div>
      
      <div class="form-group hidden-phone hidden-tablet">
        <label for="Avatar" class="col-sm-2 control-label">Avatar</label>
        <div class="col-sm-10">
          <input type="file" id="avatar" name="avatar">
          <p class="help-block">User Photo / Avatar</p>
        </div>
      </div>
    
      <div class="form-group" align="center">
        <div class="col-sm-12">
          <button type="button" class="btn btn-success btn-lg blue-button" id="save_user_profile_button">Save</button>
           ..Or.. 
          <button type="button" class="btn btn-info btn-lg">Skip</button>
        </div>
      </div><br /><br />
      
      <hr align="center" width="75%"><br /><br />    
    </div>
  </div>
  </form>
</div>