%div.form
  %div.panel.panel-info
    %div.panel-heading
      %h3
        Declaration of Individual Sovereignty
            
    %form.form-horizontal{ role: 'form' }
      %div.form#sovereignty_form
        %div.panel-body.panel-collapse
          %div.col-xs-4.col-sm-10.col-md-12
            = render 'declaration_text'
        
            %div.form-group.lead
              %div.col-xs-3
                %label
                  By
                %input.form-control#full_name
              %div.col-xs-3
                %label
                  Date
                %input.form-control.date#signed_date
              %div.col-xs-2.user-button
                %button.btn-info.btn-lg#submit_sov_button
                  Submit
              
            
          
        
      
    
  
