
#splash-content
  #main-quote
    duality has been a great teacher and the 'trial of separation' a potent idea for the formation of human soul expression |
    but they are now almost obsolete - and will find little purchase in the new earth                                       |
    zero-point emerges as the true event horizon and perfectly describes the quantum of the awakened human heart            |
    %br
    .x ~sacha stone~
  .other

  .upper-color-strip
.lower-color-strip
  subscribe to the new earth and to your sovereignty
  #btn-subscribe.btn.btn-primary subscribe
