<<<<<<< HEAD

=======
>>>>>>> 7753d62186f8ca92789d7f531ce138e67db48133
#splash-content
  .toroid
  #main-quote
    %i
      duality has been a great teacher
      %br
      and the 'trial of separation' a potent idea
      %br
      for the formation of human soul expression
      %br
      but they are now almost obsolete - and will
      %br
      find little purchase in the new earth
      %br
      zero-point emerges as the true event horizon
      %br
      and perfectly describes the quantum of
      %br
      the awakened human heart
      %br
    .x ~sacha stone~
  .other

  .upper-color-strip
.lower-color-strip
<<<<<<< HEAD
=======
  subscribe to the new earth and to your sovereignty
  #btn-subscribe.btn.btn-primary subscribe
  
= render 'members/newsletter_subscribe'
>>>>>>> 7753d62186f8ca92789d7f531ce138e67db48133
