= link_to 'institute', 'institute'

.h1 h1 - bauhaus light 65
.h2 h2 - bauhaus light 55
.h3 h3 - bauhaus light 45
.h4 h4 - bauhaus light 35
.h5 h5 - bauhaus light 28
.h6 h6 - bauhaus light 22
%br
.h7 h7 - bauhaus medium 33
.h8 h8 - bauhaus medium 28
.h9 h9 - bauhaus medium 22

%br
%br

.row
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1

.row
  .box.col-xs-2
  .box.col-xs-2
  .box.col-xs-2
  .box.col-xs-2
  .box.col-xs-2
  .box.col-xs-2

.row
  .box.col-xs-3
  .box.col-xs-3
  .box.col-xs-3
  .box.col-xs-3

.row
  .box.col-xs-4
  .box.col-xs-4
  .box.col-xs-4

.row
  .box.col-xs-6
  .box.col-xs-6

.row
  .box.col-xs-12
