= link_to 'institute', 'institute'

.h1 h1 - bauhaus light 70
.h2 h2 - bauhaus light 60
.h3 h3 - bauhaus light 50
.h4 h4 - bauhaus light 40
.h5 h5 - bauhaus light 30
.h6 h6 - bauhaus light 24

.h7 h7 - bauhaus medium 40
.h8 h8 - bauhaus medium 30
.h9 h9 - bauhaus medium 24


.row
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1
  .box.col-xs-1

.row
  .box.col-xs-2
  .box.col-xs-2
  .box.col-xs-2
  .box.col-xs-2
  .box.col-xs-2
  .box.col-xs-2

.row
  .box.col-xs-3
  .box.col-xs-3
  .box.col-xs-3
  .box.col-xs-3

.row
  .box.col-xs-4
  .box.col-xs-4
  .box.col-xs-4

.row
  .box.col-xs-6
  .box.col-xs-6

.row
  .box.col-xs-12
