- provide :head do
  :coffeescript
    $ ->
      $('#declaration-button').click -> 
        declaration = new App.Views.DeclarationForm(el: '#declaration-form')
        declaration.render()


%nav#sidenav
  %ul.nav.nav-list(data-offset-top="700" data-spy="affix")
    - @page_contents.pluck(:link).each do |link_text|
      %li
        %a(data-toggle="collapse" data-parent="#top" data-target="##{link_text.parameterize.dasherize}")= link_text
    %br
    %li
      - if !member_signed_in?
        %a.btn.btn-info{href: new_member_session_path} Sign the Declaration
      - elsif current_member.signed_declaration_at.blank?
        #declaration-button.btn.btn-primary Make Your Declaration
      - else
        .btn.btn-primary(disabled="disabled") Declaration Signed
  .clearfix

%section.main-content.panel-group#top
  - @page_contents.each do |content|
    - section_id = content.link.parameterize.dasherize
    .panel.panel-default
      .panel-heading
        %h4.panel-title 
          %a(data-toggle="collapse" data-parent="#top" href="##{section_id}")= content.title

      %article.panel-collapse.collapse{id: section_id, class: (content == @page_contents.first ? 'in' : '')}
        = $markdown.render(content.content).html_safe

#declaration-form

-#= country_select("member", "country_code", nil, iso_codes: true)
