- provide :head do
  :coffeescript
    $ ->
      $('#declaration-button').click -> 
        declaration = new App.Views.DeclarationForm(el: '#declaration-form')
        declaration.render()


%nav#sidenav
  %ul.nav.nav-list(data-offset-top="550" data-spy="affix")
    - enter_new_earth_content.map{|hash| hash[:link]}.each do |link_text|
      %li
        %a(data-toggle="collapse" data-parent="#top" data-target="##{link_text.parameterize.dasherize}")= link_text
    %li
      #declaration-button.btn.btn-primary Make Your Declaration
  .clearfix

%section.main-content.panel-group#top
  - enter_new_earth_content.each do |article|
    - section_id = article[:link].parameterize.dasherize
    .panel.panel-default
      .panel-heading
        %h4.panel-title 
          %a(data-toggle="collapse" data-parent="#top" href="##{section_id}")= article[:title]

      %article.panel-collapse.collapse{id: section_id, class: (article == enter_new_earth_content.first ? 'in' : '')}
        = $markdown.render(article[:body]).html_safe

#declaration-form

-#= country_select("member", "country_code", nil, iso_codes: true)
