
header
  position: relative
  width: 100%
  height: 350px
  color: $light-foreground
  background: image-url('header-temp.jpg') center center

  .top-strip
    width: 100%
    height: 23px
    background-color: $light-blue
    font-size: 13px
    line-height: 23px
    padding-left: 20px

  .logo-wrapper
    $width: 120px
    position: absolute
    left: 50%
    width: $width
    height: 120px
    padding-top: 8px
    .logo
      width: 100%
      height: 100%
      margin-left: -($width/2)
      border-radius: 50%
      +radial-gradient(circle at 50% 50%, $light-blue 10%, $dark-blue)
      text-align: center
      font-size: 22px
      line-height: 25px
      font-weight: lighter

      .logo-image
        background: image-url('logo-small.png') center no-repeat
        width: 90px
        height: 90px
        margin: 0 auto -17px auto


  .title-bar
    width: 100%
    height: 90px
    line-height: 90px
    +linear-gradient(rgba($dark-blue, 0.4), rgba($light-blue, 0.4))

    .title
      display: inline-block
      margin-left: 80px

      font-size: 30px
      line-height: 30px
      vertical-align: bottom

  .menu-bar
    position: absolute
    bottom: 12px
    width: 100%
    height: 30px
    background: rgba($dark-blue, 0.8)
    list-style-type: none
    li
      float: left
      margin: 0 10px
      opacity: 0.9
      line-height: 30px

  .breadcrumbs
    position: absolute
    bottom: 0
    width: 100%
    height: 20px
    font-size: 13px
    line-height: 20px
    background-color: $light-blue
    padding-left: 25px

