
.top-nav
  height: 24px
  background-color: $light-blue
  font-size: 13px
  padding-left: 50px
  li > a
    padding: 2px 15px

header
  $header-height: 350px
  $logo-diameter: 170px
  $logo-offset: 16px
  $title-row-height: ($logo-diameter / 2) + $logo-offset
  $nav-height: 50px
  $breadcrumbs-height: 20px

  height: 350px
  color: $light-foreground
  background: image-url('header-temp.jpg') center center
  background-size: cover
  border: 1px solid black
  margin-bottom: 25px


  .title-row
    height: $title-row-height
    +linear-gradient(rgba($dark-blue, 0.4), rgba($light-blue, 0.4))

    .title
      +make-xs-column(3)
      text-align: right
      font-size: $heading-font-size
      vertical-align: bottom
      margin-top: ($title-row-height - $heading-font-size - 2px)

    .logo-wrapper
      +make-xs-column(6)

      .logo
        +container-fixed
        width: $logo-diameter
        height: $logo-diameter
        position: relative
        top: $logo-offset
        
        border-radius: 50%
        +radial-gradient(circle at 50% 50%, $light-blue 10%, $dark-blue)
        
        text-align: center
        font-size: 22px
        font-weight: lighter

      .logo-image
        background: image-url('logo-small.png') center no-repeat
        width: 90px
        height: 90px
        margin: 0 auto -10px auto

  .spacer
    height: $header-height - $title-row-height - $nav-height - $breadcrumbs-height

  nav
    background: rgba($dark-blue, 0.8)


  .breadcrumbs
    height: $breadcrumbs-height
    font-size: 13px
    background-color: $light-blue
