

body
  //font-family: Sansation //, Helvetica, Verdana, sans-serif
  font-family: Bauhaus, $verdana
  width: 100%
  font-size: $standard-font-size

.box
  border: 2px solid $dark-blue
  background: $light-blue
  height: 80px


.h1, .h2, .h3, .h4, .h7, .h8
  text-rendering: optimizeLegibility

.h1, .h2, .h3, .h4, .h5, .h6
  font-family: Bauhaus, $verdana
  font-weight: normal

.h1
  font-size: 70px
.h2
  font-size: 60px
.h3
  font-size: 50px
.h4
  font-size: 40px
.h5
  font-size: 30px
.h5
  font-size: 30px
.h6
  font-size: 24px

.h7, .h8, .h9
  font-family: Bauhaus, $verdana
  font-weight: bold

.h7
  font-size: 40px
.h8
  font-size: 30px
.h9
  font-size: 24px
  