
=heading($font-size)
  text-rendering: optimizeLegibility
  font-family: Bauhaus, $verdana
  font-size: $font-size

=h1
  +heading($h1-font-size)
=h2
  +heading($h2-font-size)
=h3
  +heading($h3-font-size)
=h4
  +heading($h4-font-size)
=h5
  +heading($h5-font-size)
=h6
  +heading($h6-font-size)

=h7
  +heading($h7-font-size)
  font-weight: bold
=h8
  +heading($h8-font-size)
  font-weight: bold
=h9
  +heading($h9-font-size)
  font-weight: bold
