//
// splash page
//

$bg-offset: 257px
$header-height: 528px
$logo-diameter: 280px
$logo-offset: 50px
$title-row-height: ($logo-diameter / 2) + $logo-offset + 5px
$menu-height: 72px

#splash
  #top-menu
    background: #00bfe7
  #header
    height: 500px + $bg-offset
    background-position: center $bg-offset
    background-image: image-url('banner-tropical-island.jpg')
    .logo-bg
      height: 445px
      background-image: image-url('vector/nep_logo_bg_startpage.svg') 
    .logo
      top: 94px
      width: 334px
      height: 334px
      background-image: image-url('nep_logo_334px.png')
    .spacer
      position: relative
      height: $header-height - $title-row-height - $menu-height
      .video
        float: right
        position: absolute
        top: 170px
        right: 15px
        text-align: center
        font-family: Bauhaus
        font-size: 20px
        color: white
        text-decoration: none
        .icon
          width: 130px // 190px
          height: 130px // 190px
          margin: 0 auto
          background: image-url('watch_video.png')
          background-size: 100% 100%
          +box-shadow(0px 0px 20px white)
          border-radius: 75px
        span
          text-shadow: 0px 1px 1px black
    .nav-bar
      background: rgba(0, 80, 103, 0.75) // #005067
  #bottom-nav
    +linear-gradient(#002d3e, #000e1a)
  #footer
    background: #010e16
  #main-quote
    color: #333333

  #main-menu, #main-nav
    background: $powder-blue
    .navbar-collapse
      padding-left: 0
      padding-right: 0
      @media (min-width: 768px)
        display: flex   // center icons (quick fix)
      @media (max-width: 513px)
        padding-top: 15px
    .navbar-nav
      & > li > a
        padding: 40px 30px
        padding-left: 80px
        padding-right: 20px
        background-position: 10px center
        background-repeat: no-repeat
        background-size: 60px 60px
        color: $light-foreground
        &:hover
          background-color: darken($powder-blue, 20%)
        @include breakpoint(large)
          font-size: 1.7em
          padding: 30px
          padding-left: 65px
          padding-right: 15px
          background-size: 45px 45px
        @include breakpoint(medium)
          padding: 20px
          background-image: none !important       
      .exchange a
        background-image: image-url('nep-icons/exchange_icon_small.png')
      .festival a
        background-image: image-url('nep-icons/festival_icon_small.png')
      .institute a
        background-image: image-url('nep-icons/institute_icon_small.png')
      .locations a
        background-image: image-url('nep-icons/locations_icon_small.png')
      .new-earth a
        background-image: image-url('nep-icons/new_earth_icon_small.png')


//
// home/index.haml template
// It doesn't make sense to have this in a separate file, until there are multiple views using the splash layout.
//
#splash-content
  $bg-img-height: 323px
  $bg-img-offset: 30px
  height: $bg-img-height + $bg-img-offset + 13px
  position: relative

  #main-quote
    $quote-width: 400px
    position: absolute
    margin: 0 auto
    padding-top: 77px
    @media (min-width: $screen-md)
      padding-top: 45px
    @media (min-width: $quote-width)
      width: $quote-width
    +make-sm-column(6)
    +make-sm-column-offset(3)
    +make-md-column(4)
    +make-md-column-offset(0)
    +make-lg-column-offset(0)
    text-align: center
    font-size: 16px
    // font-weight: bold <- bold would look better, but looks blurry
    text-shadow: 0 0 7px $powder-blue
  .toroid
    position: absolute
    width: 100%
    height: 100%
    opacity: 0.3
    background: image-url('toroid-3d.png') center $bg-img-offset no-repeat
  @media (min-width: $screen-md)
    #main-quote
      font-size: 16px
    .toroid
      opacity: 1

.upper-color-strip, .lower-color-strip
  min-height: 65px
  text-align: center
  z-index: -5
.upper-color-strip
  background-color: #71c0eb
  width: 100%
  position: absolute
  bottom: 0
.lower-color-strip
  +h4
  line-height: 28px
  font-size: 20px
  color: $very-dark-blue
  background-color: #009ee0
  @media (min-width: $screen-md)
    font-size: 1.8em
  height: auto
  min-height: 2em
  padding: 7px inherit

  #btn-subscribe
    +h5
    padding: 6px 40px 0px 40px
    margin: 10px 20px 10px 20px

