//
// splash page
//
#splash
  header
    $header-height: 550px
    $logo-diameter: 280px
    $logo-offset: 50px
    $title-row-height: ($logo-diameter / 2) + $logo-offset + 5px
    $menu-height: 55px
    background: image-url('splash-vector-overlay.svg') center -35px no-repeat, image-url('banner-tropical-island.jpg') top center no-repeat

    .title-row
      clear: both
      height: $title-row-height
    
    .logo-wrapper
      +make-sm-column(8)
      +make-sm-column-offset(2)
      padding-top: $logo-offset

      .logo
        width: 334px
        height: 334px
        background: image-url('nep_logo_334px.png')
        box-shadow: 0 -5px 80px rgba(#eee, 0.9)

    .spacer
      height: $header-height - $title-row-height - $menu-height
      .video
        float: right
        position: relative
        top: 42px

    #main-menu
      background: $powder-blue
      box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.75)
      .navbar-collapse
        @media (max-width: 1049px)
          padding-top: 15px
          padding-right: 0
          padding-left: 0
      .mobile-nav
        margin-left: 15px
        margin-bottom: 10px
        a
          color: #fff
        a:hover, a:focus
          text-decoration: none
          color: #ddd
        @media (min-width: 1050px)
          display: none
        @media (max-width: 1049px)
          display:block
 
      .desktop-nav
        margin-left: 15px
        @media (min-width: 1050px)
          display: block
        @media (max-width: 1049px)
          display: none
          background-color: #eee
          float: none
          border-bottom: 10px solid $powder-blue
          & > li
            width: 100%
            text-align: left
            font-size: .7em !IMPORTANT
            a
              color: $powder-blue !IMPORTANT
            &:hover, &:focus
              background-color: $powder-blue-lighter
              padding-left: .5em
              a
                color: #fff !IMPORTANT
            &:active
              background-color: $powder-blue

      .navbar-nav
        font-size: 1.3em
        margin: 0 auto
        text-align: center
        & > li > a
          color: $light-foreground
          line-height: inherit
        @media (min-width: 1286px)
          font-size: 1.15em
          & > li > a
            line-height: $menu-height
            padding-left: 83px
            background-position: left center
            background-repeat: no-repeat
          .exchange a
            background-image: image-url('icons/exchange-trishula-small.png')
          .festival a
            background-image: image-url('icons/festival-nautilus-small.png')
          .institute a
            background-image: image-url('icons/institute-lotus-small.png')
          .locations a
            background-image: image-url('icons/locations-phi-small.png')
          .new-earth a
            background-image: image-url('icons/new-earth-toroid-small.png')

