
$phi: 1.6180339887498948

$light-blue: #00c0e7
$dark-blue-green:  #005c63
$powder-blue: #56c2fc
$dark-blue: #0a0147
$very-dark-blue: #0a021d
$blue-black: #010216

$light-foreground: #fff
$dark-foreground:  #000
$standard-font-size: 15px
$heading-font-size: 30px
