
#splash-content
  background: image-url('toroid-3d.png') center 30px no-repeat
  height: 323px + 30px
  position: relative

  #main-quote
    margin-top: 29px
    width: 28%
    float: left
    +make-xs-column(3)
    +make-sm-column-push(1)
    text-align: center
    padding: 0

.upper-color-strip, .lower-color-strip
  height: 65px
  line-height: 65px
  text-align: center
  z-index: -5
.upper-color-strip
  background-color: #71c0eb
  width: 100%
  position: absolute
  bottom: 0
.lower-color-strip
  +h4
  padding-left: 30px
  color: #fff
  background-color: #009ee0
  #btn-subscribe
    +h5

