
.container
  .row
    .box.col-xs-1
    .box.col-xs-1
    .box.col-xs-1
    .box.col-xs-1
    .box.col-xs-1
    .box.col-xs-1
    .box.col-xs-1
    .box.col-xs-1
    .box.col-xs-1
    .box.col-xs-1
    .box.col-xs-1
    .box.col-xs-1

  .row
    .box.col-xs-2
    .box.col-xs-2
    .box.col-xs-2
    .box.col-xs-2
    .box.col-xs-2
    .box.col-xs-2

  .row
    .box.col-xs-3
    .box.col-xs-3
    .box.col-xs-3
    .box.col-xs-3

  .row
    .box.col-xs-4
    .box.col-xs-4
    .box.col-xs-4

  .row
    .box.col-xs-6
    .box.col-xs-6

  .row
    .box.col-xs-12
