%footer
  %ul#bottom-menu
    %li.spacer
    %li.locations
      %a{href: '#'} locations 
    %li.institute
      %a{href: institute_path} institute
    %li.new-earth
      %a{href: enter_path} new earth
    %li.exchange
      %a{href: exchange_path} exchange
    %li.festival
      %a{href: festival_path} festival
    %li.spacer

  #bottom-bar
    © New Earth Project 2013