#bottom-nav
  .inner-wrap
    .icons-wrap
      %a.locations{href: locations_path} locations
      %a.institute{href: institute_path} institute
      %a.new_earth{href: enter_path} new earth
      %a.exchange{href: exchange_path} exchange
      %a.festival{href: festival_path} festival
#footer
  .inner-wrap
    .connect
      %a.youtube{href: "#"}
      %a.vimeo{href: "#"}
      %a.google{href: "#"}
      %a.twitter{href: "#"}
      %a.facebook{href: "#"}
    .right
      %a{href: "#"}
        contact
      %a{href: "#"}
        press
      %a{href: "#"}
        news
      %a{href: "#"}
        log in / register
    .left
      © New Earth Project 2013
    .spacer
      &nbsp;
    .clear