#bottom-nav.navbar.navbar-default
  .navbar-inner
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.icons-wrap
        %li
          %a.locations{href: locations_path} locations
        %li
          %a.institute{href: institute_path} institute
        %li
          %a.new_earth{href: enter_path} new earth
        %li
          %a.exchange{href: exchange_path} exchange
        %li
          %a.festival{href: festival_path} festival

%footer
  .inner-wrap
    .connect
      %a.youtube{href: "#"}
      %a.vimeo{href: "#"}
      %a.google{href: "#"}
      %a.twitter{href: "#"}
      %a.facebook{href: "#"}
    .pull-right
      %a{href: "#"}
        contact
      %a{href: "#"}
        press
      %a{href: "#"}
        news
      %a{href: "#"}
        log in / register
    .pull-left
      © New Earth Project 2013
    .spacer
    .clearfix
