%footer
  %ul#bottom-menu
    %li.spacer
    %li.locations
      %a{href: '#'} locations 
    %li.institute
      %a{href: about_institute_path} institute
    %li.new-earth
      %a{href: declaration_members_path} new earth
    %li.exchange
      %a{href: '#'} exchange
    %li.festival
      %a{href: '#'} festival
    %li.spacer

  #bottom-bar
    © New Earth Project 2013