#header
  .logo-bg
  %a.logo{href: root_path}
  .inner-wrap.title
    .text.left #{current_subsection}
    .text.right #{current_title}
    .page-icon
  .nav-bar
    .inner-wrap
      .nav
        - current_menu.each do |menu_name, url|
          %a{href: url}= menu_name
      .search
