#header
  .logo-bg
  %a.logo{href: root_path}
  .inner-wrap.title
    .text.pull-left sovereignty
    .text.pull-right new earth
    .page-icon
  .nav-bar
    .inner-wrap
      .nav
        - current_menu.each do |menu_name, url|
          %a{href: url}= menu_name
      .search