#loginModal.modal.fade{tabindex: "-1", role: 'dialog', 'aria-labelledby' => 'loginModalTitle', 'aria-hidden' => 'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'} &times;
        %h4#loginModal.modal-title Sign in to New Earth Project
      .modal-body
        .account-wall
          %img.profile-img{src: 'https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120'} 
          %form.form-signin
            %input.form-control{type: 'email', placeholder: 'Email', required: 'required', autofocus: 'autofocus'}
            %input.form-control{type: 'password', placeholder: 'Password', required: 'required'}
            %button.btn.btn-lg.btn-primary.btn-block{type: 'submit'} Sign in
            %label.checkbox.pull-left
              %input{type: 'checkbox', value: 'remember-me'}
              Remember me
            %a.pull-right.need-help{href: '#'} Need Help?
            %span.clearfix
            %a.text-center.new-account{href: '#'} Create an Account
