- case current_layout

- when 'sections'

  %nav#main-nav.navbar.navbar-default{role: 'navigation'}
    .navbar-inner
      .navbar-header
        .navbar-text.header-label.navbar-left.visible-xs
          new earth project
        %button.navbar-toggle{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#main-nav-collapse'}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #main-nav-collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav
          - current_menu.each do |menu_name, url|
            %li
              %a{href: url}= menu_name
        .search

- when 'splash'

  %nav#main-nav.navbar.navbar-default{role: 'navigation'}
    .navbar-inner
      .navbar-header
        %button.navbar-toggle{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#main-nav-collapse'}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #main-nav-collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.locations
            %a{href: locations_path} locations
          %li.institute
            %a{href: institute_path} institute
          %li.new-earth
            %a{href: enter_path} enter new earth
          %li.exchange
            %a{href: exchange_path} exchange
          %li.festival
            %a{href: festival_path} festival

