#top-menu
  .inner-wrap
    .right
      %a.language{href: "#"}
        ENGLISH change language

      - if signed_in?
        Signed in as: <%= current_user.email %>
        = link_to 'Sign out', sign_out_path, :method => :delete
      - else
        %a.login{href: sign_in_path} log in / register

    - if current_section
      %a.dropdown{href: "#"}
        #{current_section_name}
