.top-nav
  %ul.nav.navbar-nav
    %li.dropdown
      %a.dropdown-toggle.open{href: '#', 'data-toggle' => 'dropdown'} 
        new earth institute
        %i.icon-chevron-sign-down
      %ul.dropdown-menu
        %li
          %a{href: '#'} location1
        %li
          %a{href: '#'} location2
