%nav#top-menu.navbar.top{role: 'navigation'}
  .navbar-collapse.collapse.inner-wrap

    = topnav_dropdown @section_name        

    %ul.nav.navbar-nav.navbar-right
      - if signed_in?
        %li
          = usernav_dropdown current_user
        %li
          = link_to 'Sign out', sign_out_path, :method => :delete        
      - else
        %li
          %a.nav-signin{href: '#', 'data-toggle' => 'modal', 'data-target' => '#loginModal'}
            Sign In
        %li
          = link_to 'Sign Up', '/sign_up'

    .clearfix