#top-menu
  .inner-wrap
    .right
      /
        %a.language{href: "#"}
          ENGLISH change language

      - if member_signed_in?
        = current_member.email
        = link_to 'sign out', destroy_member_session_path, method: :delete
      - else
        %a.login{href: new_member_session_path} log in

    - if current_section && controller_name == 'pages'
      .btn-group
        %a.dropdown.dropdown-toggle(data-toggle="dropdown" href="#")
          #{current_section_name.downcase}
        %ul.dropdown-menu(role="menu")
          - sections.each do |section|
            - unless section == current_section
              %li
                %a{href: '#'}= section.titleize.downcase
