#top-menu
  .inner-wrap
    .right
      %a.language{href: "#"}
        ENGLISH change language

      - if member_signed_in?
        = current_member.email
        = link_to 'Sign out', destroy_member_session_path, method: :delete
      - else
        %a.login{href: new_member_session_path} log in

    - if current_section
      %a.dropdown{href: "#"}
        #{current_section_name}
