!!!
%html
  %head
    %title New Earth Project
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/
    
    = render partial: 'shared/base_assets'

    = yield :head
    
  %body{id: current_section}
    #wrap
      #top-bar
        .inner-wrap
          .right
            %a.language{href: "#"}
              ENGLISH change language
            %a.login{href: "#"}
              log in / register
          %a.dropdown{href: "#"}
            new earth
      #header
        .logo-wrap
        %a.logo{href: root_path}
        .inner-wrap.title
          .text.left sovereignty
          .text.right new earth
          .page-icon
        .nav-bar
          .inner-wrap
            .nav
              - current_menu.each do |menu_name, url|
                %a{href: url}= menu_name
            .search
      #breadcrumbs
        .inner-wrap
          you are here: about > academies
      #content
        .inner-wrap
          = yield
      #bottom-nav
        .icon-wrap
          %a.locations{href: locations_path} locations
          %a.institute{href: institute_path} institute
          %a.new_earth{href: enter_path} new earth
          %a.exchange{href: exchange_path} exchange
          %a.festival{href: festival_path} festival
      #footer
        .inner-wrap
          .connect
            %a.youtube{href: "#"}
            %a.vimeo{href: "#"}
            %a.google{href: "#"}
            %a.twitter{href: "#"}
            %a.facebook{href: "#"}
          .right
            %a{href: "#"}
              contact
            %a{href: "#"}
              press
            %a{href: "#"}
              news
            %a{href: "#"}
              log in / register
          .left
            © New Earth Project 2013
          .spacer
            &nbsp
          .clear

  %html
    :javascript
      function page(id) {
        document.getElementsByTagName("body")[0].id=id;
      }

      function fitSize() {
        var docW = $(window).width(); var docH = $(window).height();
        var maxW, w;

        // header nav
        maxW = 1200;
        w = docW < maxW ? docW : maxW

        var fontSize = 30 * Math.max((w/maxW), 0.5);
        var padding = 30 * w/maxW;
        $('#header .nav-bar .nav').css('font-size', fontSize + 'px');
        $('#header .nav-bar .nav a').css('padding', '0 ' + padding + 'px');
        $('#header .nav-bar .nav a:first-child').css('padding-left', '6px');
        
        // title font
        maxW = 1200;
        w = docW < maxW ? docW : maxW
        
        var fontSize = 56 * w/maxW;
        var top = 87 + 15 * (1/(w/maxW)-1);
        $('#header .title .text').css({
          'font-size': fontSize + 'px',
          'top': top + 'px'
        });
        
        // bottom nav
        maxW = 940;
        w = docW < maxW ? docW : maxW

        var fontSize = 42 * w/maxW;
        var lineHeight = 230 * w/maxW;
        $('#bottom-nav').css('font-size', fontSize + 'px');
        $('#bottom-nav a').css('line-height', lineHeight + 'px');
      }

      $(document).ready(function() {
        fitSize();
      });

      $(window).on('resize', function (e) { fitSize() });