%table.table.table-responsive
  %thead
    %th{ colspan: "3" }
      %h5
        Passions
      
    
  
  %tbody
    %tr{ rowspan: "3" }
      %td
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "food" }
            Food
          
        
        %br
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "social" }
            Social
          
        %br
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "creative" }
            Creative
          
        %br
      %td{ rowspan: "3" }
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "healing_arts" }
            Healing Arts
          
        
        %br
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "kinesiology" }
            NLP: Kinesiology
          
        
        %br
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "wellbeing" }
          
          Wellbeing
        
        %br
      %td{ rowspan: "3" }
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "enrichment" }
          
          Enrichment
        
        %br
        %label.checkbox-inline
          
        
        %br
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "outdoors" }
          
          Outdoors
        
        %br
      
    %tr
      %td{ colspan: "3" }
        %div
          %label.control-label
            Other Passions
          
            %input{ type: "text", name: "other_passions", placeholder: "Please Specify ( Comma delimited )" }
          
        
      
    
  
