%br
%div.container
  %label.control-label{ for: "passions" }
    Passions
  
%table.table.table-responsive
  %tbody
    %tr
      %td{ rowspan: "3", width: "33%" }
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "food" }
            Food

        %br
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "social" }
            Social

        %br
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "creative" }
            Creative
        
      
    
    %tr
      %td{ rowspan: "3"}
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "healing_arts" }
            Healing Arts

        %br
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "kinesiology" }
            NLP: Kinesiology

        %br
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "wellbeing" }
            Wellbeing
        
      
    
    %tr
      %td{ rowpan: "3"}
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "healing_arts" }
            Enrichment

        %br
        %label.checkbox-inline
  

        %br
        %label.checkbox-inline
          %input{ type: "checkbox", name: "passions", value: "outdoors" }
            Outdoors
  


    %tr
      %td{ colspan: "3" }
        %label
          Other 
      
        %input{ type: "text", name: "other_skills", placeholder: "Please Specify" }
      
    
  


