%div
  %label.control-label{ for: "skills" }
    Skills

  %table.table.table-responsive
    %tbody
      %tr{ rowspan: "3" }
        %td
          %label.checkbox-inline
            %input{ type: "checkbox", name: "skills", value: "test" }
              Food

          %br
          %label.checkbox-inline
            %input{ type: "checkbox", name: "skills", value: "test2" }
              Social

          %br
          %label.checkbox-inline
            %input{ type: "checkbox", name: "skills", value: "tes3" }
              Creative
            
          
        
      %tr{ rowspan: "3" }
        %td
          .form-group
            %label.checkbox-inline
              %input{ type: "checkbox", name: "skills", value: "test" }
                Healing Arts

            %br
            %label.checkbox-inline
              %input{ type: "checkbox", name: "skills", value: "test2" }
                NLP: Kinesiology

            %br
            %label.checkbox-inline
              %input{ type: "checkbox", name: "skills", value: "tes3" }
                Wellbeing
  

        
      
    
    

  %br
.form-group
  %label.checkbox-inline
    %input{ type: "checkbox", name: "skills", value: "test" }
      Healing Arts
    
  
  %label.checkbox-inline
    %input{ type: "checkbox", name: "skills", value: "test2" }
      NLP: Kinesiology
    
  %br
  %label.checkbox-inline
    %input{ type: "checkbox", name: "skills", value: "tes3" }
      Wellbeing
  
  %br 
  %label.checkbox-inline
    %input{ type: "checkbox", name: "skills", value: "test" }
      Enrichment
    
  %br  
  %label.checkbox-inline
  
%br
.form-group
%label.checkbox-inline
  %input{ type: "checkbox", name: "skills", value: "tes3" }
    Outdoors
    
  
 
  .checkbox
    %label.control-label.checkbox-inline
      %input{ type: "checkbox", name: "skills", value: "test" }
        Wellbeing activities (yoga, meditation, martial arts, tai chi, other)
    
  
  .checkbox
    %label.control-label
      %input{ type: "checkbox", name: "skills", value: "test" }
        Social activities (dancing, volunteer work, educational classes, other)    
    
  
  .checkbox
    %label.control-label
      %input{ type: "checkbox", name: "skills", value: "test" }
        Creative activities (metallurgy, knitting/needlework, woodwork, pottery, other)
              

  .checkbox
    %label.control-label
      %input{ type: "checkbox", name: "skills", value: "test" }
        Food (cooking, raw food, nutrition, other)
    
  
  .checkbox
    %label.control-label
      %input{ type: "checkbox", name: "skills", value: "test" }
        Other (please specify)
    
  
