.member-top

%div.panel.panel-info
  %div.panel-heading
    .h3 Edit Profile
    
  
  %div.pane-body
    %form{ role: "form" } 
      %div#edit_profile_form.member-container
        .form-group
          %label.control-label{ for: "first_name" }
            First Name
        
          %input.form-control{ type: "text", placeholder: "First Name" } 
        
        .form-group
          %label.control-label{ for: "middle_name" }
            Middle Name
        
          %input.form-control{ type: "text", placeholder: "Middle Name" } 
      
        .form-group
          %label.control-label{ for: "last_name" }
            Last Name
        
          %input.form-control{ type: "text", placeholder: "Last Name" } 
        
        .form-group
          %label.control-label{ for: "email" }
            Email
        
          %input.form-control{ type: "text", placeholder: "Email" }         
        
        .form-group
          %label.control-label{ for: "password" }
            Password
        
          %input.form-control{ type: "password", name: "password", placeholder: "Password" }  
        
        .form-group
          %label.control-label{ for: "confirm_password" }
            Confirm Password
        
          %input.form-control{ type: "password", name: "confirm_password", placeholder: "Confirm Password" }  
        
        .form-group
          %label.control-label{ for: "country" }
            Country
          
          %br
          = country_select("member", "country_code", [ "us", "ca", "id" ], iso_codes: true)
          
        = render 'skillset_checkboxes'
        
        = render 'passion_checkboxes'
        
        %div.hidden-phone.hidden-tablet
          .form-group
            %label.control-label{ for: "avatar" }
              Member Photo / Avatar
          
            %input.form-control#avatar{ type: "file", name: "avatar" }
            
          
          %br
          %br
        
        .form-group{ align: "center" }
          %a.btn.btn-success.btn-lg#newsletter_signup{ href: "#" }
            Save
          %a.btn.btn-info.btn-lg#newsletter_skip{ href: "#" }
            Skip
        
      
      
    
  
  