.member-top

.h4 Members - Index

%ul
  %li
    .h6
      = link_to('Sovereignty Declaration','/members/sovereignty_declaration')
  %li
    .h6
      = link_to('Edit Profile','/members/edit_profile')
  
