.member-top

.panel.panel-info
  .panel-heading
    .h5 Make your Declaration
    
  
  .panel-body
    = render "declaration_text"
    %br
    %h6.lead
      Add your e-signature to a Declaration of Sovereignty:
    
    %form{ role: "form" }
      %table.table.table-responsive.lead#sovereignty_declaration_form          
        %thead
          %th
            By
       
          %th
            Date
        
          %th
          
        
      
        %tbody
          %tr
            %td
              %input.form-control#full_name{ placeholder: "Name" }
            
            %td
              %input.form-control#date{ placeholder: "dd/mm/yyyy" }
            %td
              %button.btn.btn-info.btn-md#submit_sov_button{ href: "#" }
                Submit
            
          
          %tr
            %td{ colspan: "3" }
              = render "newsletter_subscribe"
      
    
  



